<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rotana Hotel</title>
</head>

<body>
  <section class="home">
    <div class="content">
      <div class="">
        <div class="item">
          <img src="../assets/banner-1.png" alt="">
          <div class="text">
            <h1>Spend Your Holiday</h1>
            <p>Blissfully decadent and supremely stylish, Cashel Palace offers a total of 42 bedrooms and suites each of
              which has been individually and luxuriously designed for rest and relaxation.
            </p>
            <div class="flex">
              <button class="primary-btn">READ MORE</button>
              <button class="secondary-btn">CONTACT US</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="book">
    <div class="container flex_space">
      <div class="text">
        <h1> <span>Book </span> Your Rooms </h1>
      </div>
      <div class="form">
        <form class="grid">
          <input type="date" placeholder="Araival Date">
          <input type="date" placeholder="Departure Date">
          <input type="number" placeholder="Adults">
          <input type="number" placeholder="Childern">
        </form>
      </div>
    </div>
  </section>

  <section class="about top">
    <div class="container flex">
      <div class="left">
        <div class="heading">
          <h1>WELCOME</h1>
          <h2>Rotana Hotel</h2>
        </div>
        <p>Blissfully decadent and supremely stylish, Cashel Palace offers a total of 42 bedrooms and suites each of
          which has been individually and luxuriously designed for rest and relaxation.</p>
        <button class="primary-btn">ABOUT US</button>
      </div>
      <div class="right">
        <img src="../assets/about.png" alt="">
      </div>
    </div>
  </section>

  <section class="news top rooms">
    <div class="container">
      <div class="heading">
        <h1>NEWS</h1>
        <h2>Our News</h2>
      </div>

      <div class="content flex">
        <div class="left grid2">
          <div class="items">
            <div class="image">
              <img src="../assets/blog-1.png" alt="">
            </div>
            <div class="text">
              <h2>Sri Bharani Hotels.</h2>
              
              <p>Sri Bharani Hotels is known for its homely appearance and plesent sweet home feelings for the customers
                and rewarded as the best hotels in tirunelveli.</p>
            </div>
          </div>
          <div class="items">
            <div class="image">
              <img src="../assets/blog-2.png" alt="">
            </div>
            <div class="text">
              <h2>The Park Chennai.</h2>
             
              <p>Located in Chennai’s business district, standing on the historic premises of the erstwhile Gemini Film
                Studios, The Park offers rooms with a flat-screen TV and rainshower facilities.</p>
            </div>
          </div>
        </div>

        <div class="right">
          <div class="box flex">
            <div class="img">
              <img src="../assets/blog-s1.png" alt="">
            </div>
            <div class="stext">
              <h2>Sreedevi Residency </h2>
              <p> Sreedevi Residency offers air-conditioned accommodation with a terrace, a garden and a shared lounge.
              </p>
            </div>
          </div>
          <div class="box flex">
            <div class="img">
              <img src="../assets/blog-s2.png" alt="">
            </div>
            <div class="stext">
              <h2>Novotel Chennai Chamiers Road</h2>
              <p>Novotel Chennai Chamiers Road is located in the city centre near Anna Salai.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container grid">
      <div class="box">
        <img src="../assets/rotana.png" style="width: 30%;" alt="">
        <br>
        <p>Blissfully decadent and supremely stylish, Cashel Palace offers a total of 42 bedrooms and suites each of
          which has been individually and luxuriously designed for rest and relaxation.A luxury hideaway underpinned by
          intuitive hospitality, trust us to host your perfect event.
          Intimate or large, relaxed or formal, we are the ultimate place to celebrate, collaborate, toast and
          team-build.</p>
        <div class="icon">
          <i class="fa fa-facebook-f"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-youtube"></i>
        </div>
      </div>

      <div class="box">
        <h2>Contact Us</h2>
        <p>Blissfully decadent and supremely stylish, Cashel Palace offers a total of 42 bedrooms and suites each of
          which has been individually and luxuriously designed for rest and relaxation.
        </p>
        <i class="fa fa-location-dot"></i>
        <label>206, collector office street, Palayamkottai,Tirunelveli. </label> <br>
        <i class="fa fa-phone"></i>
        <label>7509872456</label> <br>
        <i class="fa fa-envelope"></i>
        <label>varathan@gmail.com</label> <br>
      </div>
    </div>
  </footer>

  <div class="legal">
    <p class="container">Copyright (c) 2023 Copyright Holder All Rights Reserved.</p>
  </div>
</body>

</html>
<router-outlet></router-outlet>